html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    background-color: white;
    width: auto;
}

.pull-right {
    float: right;
}

.card-header li {
    list-style: none;
}

.dropdown-item:hover {
    color: red;
}


/*-----*/

.main-head {
    height: 150px;
    background: #FFF;
}

.sidenav {
    height: 100%;
    background-color: #000;
    overflow-x: hidden;
    padding-top: 20px;
}

.main {
    padding: 0px 10px;
}

@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }
}

@media screen and (max-width: 450px) {
    .login-form {
        margin-top: 10%;
    }
    .register-form {
        margin-top: 10%;
    }
}

@media screen and (min-width: 768px) {
    .main {
        margin-left: 40%;
    }
    .sidenav {
        width: 40%;
        position: fixed;
        z-index: 1;
        top: 0;
        left: 0;
    }
    .login-form {
        margin-top: 80%;
    }
    .register-form {
        margin-top: 20%;
    }
}

.login-main-text {
    margin-top: 20%;
    padding: 60px;
    color: #fff;
}

.btn-black {
    background-color: #000 !important;
    color: #fff;
}

.btn-black:hover {
    background-color: lightgray !important;
    color: crimson;
}

footer {
    padding: 15px;
    margin: 40px 0;
    height: 0px;
    width: 100%;
    background: #fff;
    color: #9A0202;
}

a {
    color: #9A0202;
}

a:hover {
    color: black;
}

.jumbotron {
    background-color: #FFF;
    margin: 20px;
}

h3 {
    text-align: center;
    margin-left: 90px;
}

.balance {
    font-size: 21px;
}


/*---*/

.formBox {
    margin-top: 90px;
    padding: 50px;
}

.formBox h1 {
    margin: 0;
    padding: 0;
    text-align: center;
    margin-bottom: 50px;
    text-transform: uppercase;
    font-size: 48px;
}

.inputBox {
    position: relative;
    box-sizing: border-box;
    margin-bottom: 50px;
}

.inputBox .inputText {
    position: absolute;
    font-size: 24px;
    line-height: 50px;
    transition: .5s;
    opacity: .5;
}

.inputBox .input {
    position: relative;
    width: 100%;
    height: 50px;
    background: transparent;
    border: none;
    outline: none;
    font-size: 24px;
    border-bottom: 1px solid rgba(0, 0, 0, .5);
}

.btn-black1 {
    background-color: #000 !important;
    color: #fff;
    width: 100%;
    letter-spacing: 2px;
    font-size: 18px;
}

.btn-black1:hover {
    background-color: lightgray !important;
    color: crimson;
    border: none;
}